body {

    font-family: 'Kalam', cursive;
   
}

h1 {

    margin: 0 auto;
    border: 1px solid black;
    font-size: 32px;
    text-align: center;
    height: 150px;
    padding: 50px;
    
}

p {

    margin: 0 auto;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
}